@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-size: 62.5%;
}

.wrapper {
  @include fontSizeL;
  font-family: "Kanit", sans-serif;
}

.pageBody {
  height: 85vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding-top: 5rem;
}

.header {
  height: 15vh;
  border-bottom: 0.2rem solid $primaryOrange;
}

.homeBody {
  display: flex;
  justify-content: center;
}

.homeClm-1 {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.homeClm-2 {
  height: 100%;
}

@media screen and (max-width: 1366px) {
}
